<!--Page Content-->
<header class="bg-primary py-3 mb-5 ">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="/assets/images/Wm.png" height="150px">
        </div>
        <div class="col-lg-10">
          <h1 class="display-4 text-white mt-5 mb-2"> Desenvolvimento SPA com Angular </h1>
          <p class="lead mb-5 text-white"></p>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container main-container mb-5">
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
